<% for (var i = 0; i < data.length; i++) {%>
	<%var qa = data[i];%>

	<div class="qa-item">
		<h2 class="question"><%=qa.problem%></h2>
		<p class="answer"><%=qa.answer%></p>
	</div>


<% } %>

