<% for (var i = 0; i < data.length; i++) {%>
	<% var item = data[i]; %>
    <a class="focus-item" href="/page/angel_detail/angel_detail.html?id=<%=item.id%>">
        <div class="paint">
            <img src="<%=staticUrl+item.focusImg%>">
        </div>
        <div class="panel">
            <h2 class="head-title"><%=item.focusTitle%></h2>
            <% if (item.authorName)  {%>
                <span class="author">文 | <%=item.authorName%></span>
            <% } %>
            
            <% if (item.focusCategoryStr)  {%>
                <% if (item.focusCategory == 1) {%>
                    <span class="source type-research"><%=item.focusCategoryStr%></span>
                <% } else if (item.focusCategory == 2) {%>
                    <span class="source type-dialog"><%=item.focusCategoryStr%></span>
                <% } else if (item.focusCategory == 3) {%>
                    <span class="source type-nice"><%=item.focusCategoryStr%></span>
                <% } %>
            <% } %>
        </div>
    </a>
<% } %>