<!-- 项目中所有页面使用此共有页面，无关逻辑请勿写入此文件内!!! -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<meta name="format-detection" content="telephone=no, email=no"/>
<meta name="description" content="AngelEase宜天使™是宜信®旗下互联网非公开股权融资平台，依托宜信®十年深耕金融行业的优势资源，为知名创投机构、天使投资人和初创企业提供营销推广、募集资金、项目运营、投后管理等全方位服务，致力打造优质投资生态圈，提供给大众投资人可信赖的早期股权投资机会。">
<title>宜天使</title>

<meta itemprop="name" content="AngelEase宜天使™是宜信®旗下互联网非公开股权融资平台">
<meta itemprop="description" content="AngelEase宜天使™是宜信®旗下互联网非公开股权融资平台，依托宜信®十年深耕金融行业的优势资源，为知名创投机构、天使投资人和初创企业提供营销推广、募集资金、项目运营、投后管理等全方位服务，致力打造优质投资生态圈，提供给大众投资人可信赖的早期股权投资机会。">
<meta itemprop="image" content="../images/angelease.png">

<!--
	@require ../lib/zepto.js
	@require ../lib/jquery.js
	@require ../lib/template.js
	@require ../lib/storage.js
	@require ../lib/base.js
	@require ../lib/smart_toast.js
	@require ../style/weui.min.css
	@require ../style/common.less
-->

<script>
var _hmt = _hmt || [];
(function() {
	var hm = document.createElement("script");
	hm.src = "//hm.baidu.com/hm.js?6249de84e83f72279297732b195fd2b2";
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript">
    window._pt_lt = new Date().getTime();
    window._pt_sp_2 = [];
    _pt_sp_2.push('setAccount,248e0daf');
    var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    (function() {
        var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
        atag.src = _protocol + 'js.ptengine.cn/248e0daf.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(atag, s);
    })();
</script>
